@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  font-family: "Lato", sans-serif;
}

.title-box {
  text-align: center;
  margin-top: 1rem;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  background: none;
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
}

.search-bar:focus {
  border-color: green;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
